/*Main*/

@font-face {
	font-family: chicago;
	src: url(../fonts/ChicagoFLF.ttf);
}

@font-face {
	font-family: monaco;
	src: url(../fonts/monaco.ttf);
}






body{
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-color: #A4A4A4;

	font-family: 'courier new', courier;
	font-weight: normal;
	color: #000000;
	font-size: 15px;
}

a{
	color: #000000;
}
a:hover{
	color: #E3E3E3;
}




/*Landing Page*/


li{
	width: auto;
}


.left-details{
	float: left;
}

.left-details ul{
	list-style: none;
	margin-top: 45px;
}

.left-details ul li:first-child a{
	text-decoration: underline;
}
.left-details ul li:first-child a:hover{
	text-decoration: none !important;
}



.right-details{
	float: right;
	text-align: right;
}

.right-details ul{
	list-style: none;
	margin-top: 45px;
	margin-right: 40px;
}


.right-details ul li a{
	text-decoration: underline;
}
.right-details ul li a:hover{
	text-decoration: none;
}












/* Media Queries */


@media (max-width: 500px){

	.left-details{
		width: 100% !important;
		margin-bottom: 50px;
		z-index: 1;
	}

	.right-details{
		width: 100% !important;
		float: none;
		text-align: left;
		z-index: -1;
	}


}


































